

.image
{
    
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4Uemf9NBkeqZgieF8X6aGU8Jy8K_ipZFQku_mkhuCIQriXTdF8g&s"); /* The image used */
  background-size: auto;
  height: 1800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
 
}


